<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bem-vindo ao Libird</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.1-web/css/all.css" />
    <link rel="stylesheet" href="/css/site.css">


    <style>
    </style>

</head>
<body>
    <header>
        <nav class="navbar-expand-sm bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand logo" asp-controller="Home" asp-action="Index" title="Home"><img src="~/logo.png" /></a>
            <div class="container">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="icons" asp-controller="" asp-action="" title="Home"><i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="icons" asp-controller="" asp-action="" title="Library"><i class="fas fa-bookmark"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="icons" asp-controller="" asp-action="" title="Add New Book"><i class="fas fa-plus-square"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="icons" asp-controller="" asp-action="" title="Collection"><i class="fas fa-book"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="icons" asp-controller="" asp-action="" title="Profile"><i class="fas fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="icons" asp-controller="" asp-action="" title="Favorite"><i class="fas fa-heart"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
