<div>
    <a asp-controller="Input" asp-action="SignIn" class="btn btn-primary">
        Login
    </a>
    <a asp-controller="Input" asp-action="SignUp" class="btn btn-success">
        Create your account
    </a>
</div>
