@model Libird.Models.Domain.Account
<partial name="_MenuPartial" model="Model" />
<main>
    <div id="banner">
        <h1 class="display-4">Welcome, @Model.User.Name @Model.User.LastName</h1>
    </div>
    <div class="mt-4 container">
        <h3 class="text-center">Browse Your Virual Library :)</h3>

        <div class="card-deck mt-5 justify-content-center">

            <a asp-controller="" asp-action="" class="link-card">
                <div class="card">
                    <div class="card-body">
                        <img class="logo-card" src="~/img/book.png" alt="Card image cap">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">My Library</small>
                    </div>
                </div>
            </a>

            <a asp-controller="" asp-action="" class="link-card">
                <div class="card">
                    <div class="card-body">
                        <img class="logo-card" src="~/img/plus.png" alt="Card image cap">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Add New Book</small>
                    </div>
                </div>
            </a>

            <a asp-controller="" asp-action="" class="link-card">
                <div class="card">
                    <div class="card-body">
                        <img class="logo-card" src="~/img/books.png" alt="Card image cap">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">My Collections</small>
                    </div>
                </div>
            </a>

            <a asp-controller="" asp-action="" class="link-card">
                <div class="card">
                    <div class="card-body">
                        <img class="logo-card" src="~/img/user.png" alt="Card image cap">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">My Profile</small>
                    </div>
                </div>
            </a>

            <a asp-controller="" asp-action="" class="link-card">
                <div class="card">
                    <div class="card-body">
                        <img class="logo-card" src="~/img/like.png" alt="Card image cap">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">My Favorites</small>
                    </div>
                </div>
            </a>

        </div>

    </div>
</main>
