@model Libird.Models.Domain.User

<div class="container">
    <div class="card">
        <div class="card-body login-screen">
            <form asp-action="SignUp" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <p>Account</p>
                    <label asp-for="Account.UserName"></label>
                    <input asp-for="Account.UserName" type="text" class="form-control" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label asp-for="Account.Password"></label>
                    <input asp-for="Account.Password" type="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sing Up</button>
            </form>
            <p class="text-center mt-3">Already have an account?<a asp-action="SignIn">SignIn</a></p>
        </div>
    </div>
</div>

