@model Libird.Models.ViewModels.AddNewBook
<div class="container">
    <h4 class="display-4 text-center">Add new book</h4>
    <div>
        <form asp-action="Insert" method="post">

            <input type="hidden" asp-for="AccountId" />

            <div class="row">
                <div class="form-group col">
                    <label asp-for="Book.Title"></label>
                    <input asp-for="Book.Title" class="form-control" />
                </div>

                <div class="form-group col">
                    <label asp-for="Book.SubTitle"></label>
                    <input asp-for="Book.SubTitle" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <label asp-for="Book.NumberPage"></label>
                    <input asp-for="Book.NumberPage" class="form-control" />
                </div>

                <div class="form-group col">
                    <label asp-for="Book.NumberEdition"></label>
                    <input asp-for="Book.NumberEdition" class="form-control" />
                </div>


            </div>

            <div class="form-group">
                <label asp-for="Book.Genre"></label>
                <input asp-for="Book.Genre" class="form-control" />
            </div>


            <div class="form-group">
                <label asp-for="Book.Isbn"></label>
                <input asp-for="Book.Isbn" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Book.Type"></label>
                <select asp-for="Book.Type" class="form-control">
                    <option>Common</option>
                    <option>Digital</option>
                    <option>Mangá</option>
                </select>
            </div>

            <div class="mt-4">
                <h5 class="text-center">
                    Author
                </h5>
            </div>
            <div class="row">

                <div class="form-group col">
                    <label asp-for="Author.Name"></label>
                    <input asp-for="Author.Name" class="form-control" />
                </div>

                <div class="form-group col">
                    <label asp-for="Author.LastName"></label>
                    <input asp-for="Author.LastName" class="form-control" />
                </div>
            </div>

            <div class="form-group justify-content-center">
                <input type="submit" value="Save New Book" class="btn btn-primary d-inline-block" />
            </div>
        </form>
    </div>
</div>