.icons {
    color: #D6D6D6;
    font-size: 27px;
    margin: 20px;
    transition: color 0.3s, border-bottom 0.3s;
    padding: 10px;
}

.icons:hover {
     color: #0E8EF1;
     border-bottom: 2px solid #0E8EF1;
 }

.logo{
    float:left;
    margin: 5px 0px 0px 80px;
}
ul{
    padding:10px;
}
