.icons-link{
    font-size: 25px;
    color: red;
    text-align: center;
    letter-spacing: 50px;
}

.icons-link:hover {
     color: #0E8EF1;
 }

.logo{
    float:left;
    margin: 5px 0px 0px 80px;
}
ul{
    padding:10px;
}

main{
    margin:0px;
}

#banner {
    margin: 0px;
    background: #0E8EF1;
    padding: 80px;
}
#banner h1{
    color: white;
}

.link-card:hover{
    text-decoration: none;
}

.logo-card{
    width: 70px;
    height: 70px;
    padding: 10px;
}

h3 {
    color: #B1B1B1;
}