body {
    background-color: #f3f3f3;
}
.icons-link {
    font-size: 27px;
    text-align: center;
    margin-left: 40px;
}

    .icons-link:hover {
        fill: #0E8EF1;
    }

.logo {
    float: left;
    margin: 5px 0px 0px 80px;
}

ul {
    padding: 10px;
}


#banner {
    margin: 0px;
    background: #0E8EF1;
    padding: 80px;
}

    #banner h1 {
        color: white;
    }

.link-card:hover {
    text-decoration: none;
}

.logo-card {
    width: 70px;
    height: 70px;
    padding: 10px;
}

h3 {
    color: #B1B1B1;
}

.link-edit {
    color: #24BFA5;
    text-align: center;
    text-decoration: none;
}
    .link-edit:hover {
        color: #125F52;
    }

.link-delete {
    color: #DB405A;
    text-align: center;
    text-decoration: none;
}
    .link-delete:hover {
        color: #49151E;
    }

.login-link{
    position:relative;
    left: 390px;
}


.info-library{
    color: #0E8EF1;
    font-size: 25px;
    font-weight: bold;
}